<div class="section-container">

  <h2>Pipes</h2>

  <p>Check out the component in src/app/components/pipes to solve this lab.
    Pipes allow for a quick transformation of data into a new format. Pipes can be used
    for converting numbers into currency amounts, pipes for parsing JSON into an object, and even translating
    between languages. One of the simplest
    pipes is simply converting values to uppercase, as applied to the value "Hello, World!" here:</p>
  <p>{{ helloVariable | uppercase }}</p>

  <div class="todo-container">
    <p>Just like how 'uppercase' was used here, there is also a pipe called 'lowercase' that you can try. TODO: Please
      convert the helloVariable value to all lowercase:</p>
    <p>{{helloVariable}}</p>
  </div>

</div>