<h1>Structural directives</h1>

<p>Structural directives are ways for us to define a HTML template that can intelligently manipulate the
structure of the site based on our TypeScript code.. Namely, we can define structural directives that can conditionally
  hide or display elements, or that can display an entire list of elements. To do this, we will need to use ngif, ngfor,
  and ngswitch.</p>

<app-ng-if></app-ng-if>
<app-ng-for></app-ng-for>
<app-ng-switch></app-ng-switch>

<h1>Attribute directives</h1>
<p>Attribute directives allow us to manipulate the HTML template to dynamically change attributes of elements. We will
be investigating ngclass and ngstyle, which allow for conditional styling of elements. ngmodel, which was used in
two-way binding, is also technically an attribute directive that modifies the 'value' property of an input field.</p>

<app-ng-style></app-ng-style>
<app-ng-class></app-ng-class>

<h1>More features</h1>
<app-pipes></app-pipes>

<div>
  <p>It is also possible to create custom pipes & directives.</p>
  <a href = "https://angular.io/guide/built-in-directives">https://angular.io/guide/built-in-directives</a>
  <br>
  <a href = "https://angular.io/guide/pipes">https://angular.io/guide/pipes</a>
</div>
